@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-size: border-box;
}

.logo {
    font-family: Alfa Slab One, sans-serif;
    font-size: 40px;
}

.pag {
    flex-direction: row-reverse;
    list-style: none;
    display: flex;
    gap: 10px;



}

